#include "windows.h"
#include "resource.h"

IDR_POPUP MENU
BEGIN
POPUP "popup"
BEGIN
  MENUITEM "&Options...\t",IDM_OPTIONS
  MENUITEM "&Edit messages...\t",IDM_UPDATE
  MENUITEM SEPARATOR
  MENUITEM "&About...\t",IDM_ABOUT
  MENUITEM SEPARATOR
  MENUITEM "E&xit\t",IDM_EXIT
END
END

IDI_MYICON ICON "TickerTapeIcon.ico"
IDI_BITMAPABOUT BITMAP DISCARDABLE "matrix.bmp"
IDI_BMPUP BITMAP DISCARDABLE "arrow_up.bmp"
IDI_BMPDN BITMAP DISCARDABLE "arrow_dn.bmp"
IDI_BMPMASKUP BITMAP DISCARDABLE "arrow_upmask.bmp"
IDI_BMPMASKDN BITMAP DISCARDABLE "arrow_dnmask.bmp"
IDI_BMPFRAMELEFT BITMAP DISCARDABLE "bmps/frame_l.bmp"
IDI_BMPFRAMELEFTMASK BITMAP DISCARDABLE "bmps/frame_l_mask.bmp"
IDI_BMPFRAMERIGHT BITMAP DISCARDABLE "bmps/frame_r.bmp"
IDI_BMPFRAMERIGHTMASK BITMAP DISCARDABLE "bmps/frame_r_mask.bmp"
IDI_BMPFRAMEMIDDLE BITMAP DISCARDABLE "bmps/frame_m.bmp"
IDI_BMPFRAMEMIDDLEMASK BITMAP DISCARDABLE "bmps/frame_m_mask.bmp"





IDD_BACKGROUND DIALOG DISCARDABLE  0, 0, 186, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Background Color"
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX         IDC_BACKGROUND,7,7,117,81,NOT LBS_NOTIFY |
                    LBS_OWNERDRAWFIXED | LBS_NOINTEGRALHEIGHT |
                    LBS_MULTICOLUMN | NOT WS_BORDER | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,129,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,24,50,14
END

ID_DLGOPIONS DIALOGEX 100,100,244,186
CAPTION "Options"
FONT 8,"Microsoft Sans Serif"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU//0x90C80080
EXSTYLE 0x00000381
BEGIN
  CONTROL "Background",IDC_BTNBACKGROUND,"Button",0x50010000,26,24,50,14,0x00000004
  CONTROL "Text",701,"Button",0x50010000,26,42,50,14,0x00000004
  CONTROL " Appearence ",702,"Button",0x50000007,9,4,178,126,0x00000004
  CONTROL "&OK",IDC_BTNOK,"Button",0x50010001,191,13,50,14,0x00000004
  CONTROL "Ca&ncel",IDC_BTNCANCEL,"Button",0x50010000,191,30,50,14,0x00000004
  CONTROL " Speed ",703,"Button",0x50000007,9,132,178,45,0x00000000
  CONTROL "speed",IDC_TRACKBARSPEED,"msctls_trackbar32", WS_CHILD | WS_VISIBLE | TBS_HORZ | TBS_BOTTOM | WS_EX_LEFT | WS_EX_LTRREADING | WS_EX_RIGHTSCROLLBAR ,15,151,165,14, 0x00000000
  //CONTROL "pixels",IDC_TRACKBARPIXELS,"msctls_trackbar32",0x50000000,54,160,130,14,0x00000000
//  CONTROL "Delay",IDC_STATIC3,"Static",0x50020201,14,144,37,11,0x00020000
//  CONTROL "Pixels",IDC_STATIC4,"Static",0x50020201,15,162,36,11,0x00020000
  CONTROL " Colours ",704,"Button",0x50000007,13,14,170,49,0x00000000
  CONTROL " Font ",705,"Button",0x50000007,13,64,170,63,0x00000000
  CONTROL "Text",IDC_DDFONT,"ComboBox",0x50010302,19,73,158,13,0x00000000
  CONTROL "Text",IDC_SPINWIDTH,"msctls_updown32",0x50000020,90,92,11,15,0x00000000
  CONTROL "Text",IDC_SPINHEIGHT,"msctls_updown32",0x50000020,90,110,11,15,0x00000000
  CONTROL "Text",IDC_EDITWIDTH,"Edit",0x50010080,66,92,22,13,0x00000200
  CONTROL "Width",IDC_STATIC1,"Static",0x50020201,19,92,45,13,0x00020000
  CONTROL "Height",IDC_STATIC2,"Static",0x50020201,19,110,45,13,0x00020000
  CONTROL "Text",IDC_EDITHEIGHT,"Edit",0x50010080,66,110,24,13,0x00000200
  CONTROL "Bold",IDC_CHKBOLD,"Button",0x50010003,116,92,35,13,0x00000000
  CONTROL "Black",IDC_CHKBLACK,"Button",0x50010003,115,108,35,14,0x00000000
  CONTROL "Italic",IDC_CHECKITALIC,"Button",0x50010003,151,91,28,14,0x00000000
  CONTROL "Caps",IDC_CHKCAPS,"Button",0x50010003,151,108,28,14,0x00000000
  //CONTROL "IDC_BTN",IDC_BTNBACK,"Button",0x50010000,22,18,48,15,0x00000000
  //CONTROL "IDC_BTN",IDC_BTNTEXT,"Button",0x50010000,22,38,48,15,0x00000000
  CONTROL "",IDC_IMGFONT,"Static",0x50000203,92,11,92,54,0x00000000
END

ID_ABOUT DIALOGEX 6, 6, 213, 162
CAPTION "About"
FONT 8,"MS Sans Serif"
STYLE 0x10CD0800
EXSTYLE 0x00000000
BEGIN
    DEFPUSHBUTTON   "OK",IDCOK,86,141,50,14
    CONTROL         "matrix.bmp", IDC_STATICIMG,"Static",SS_BITMAP | SS_CENTERIMAGE |
                    SS_REALSIZEIMAGE | SS_SUNKEN,7,7,199,60
                    
                    
    CTEXT           "The TickerTape by\r\nMax",
                    IDC_STATIC6,7,71,199,18,0,WS_EX_TRANSPARENT
    CTEXT           "E-mail :\r\nmaxoflondon@gmail.com",IDC_STATIC7,7,116,199,19,
                    0,WS_EX_TRANSPARENT
    CTEXT           "Homepage :\r\nhttp://www.google.com",IDC_STATIC7,7,
                    92,199,19,0,WS_EX_TRANSPARENT
END

IDD_EDITMSGS DIALOGEX 6,6,515,244
CAPTION "Edit Messages"
FONT 8,"MS Sans Serif"
STYLE 0x10CD0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "",IDC_LSTOUTAGES,"ListBox",0x50010141,14,92,428,87,0x00000200
  //CONTROL "",IDC_TXTUPDATE,"Edit",0x50010000,12,192,430,15,0x00000200
  //CONTROL "Edit update:",IDC_STC1,"Static",0x50000000,14,182,44,8,0x00000000
  //CONTROL "&Update",IDC_UPDATE,"Button",0x50010000,448,192,56,15,0x00000000
  CONTROL "&Edit",IDC_EDIT,"Button",0x50010000,448,96,56,15,0x00000000
  CONTROL "&New",IDC_NEW,"Button",0x50010000,448,126,56,15,0x00000000
  CONTROL "&Delete",IDC_DELETE,"Button",0x50010000,448,146,56,15,0x00000000
  CONTROL "Sa&ve and Close",IDC_SAVEOK,"Button",0x50010001,356,223,84,15,0x00000000
  CONTROL "&Cancel",IDC_CANCEL,"Button",0x50010000,452,223,58,15,0x00000000
  CONTROL "Header ",IDC_GRP1,"Button",0x50000007,6,1,504,44,0x00000000
  CONTROL "",IDC_EDTTIME,"Edit",0x50010000,20,25,96,13,0x00000200
  CONTROL "NMC UPDATES",IDC_EDTNMC,"Edit",0x50010000,124,25,136,13,0x00000200
  CONTROL "Use NMC header",IDC_CHKNMC,"Button",0x50010003,124,12,92,13,0x00000000
  CONTROL "Use current UTC time",IDC_CHKTIME,"Button",0x50010003,20,12,96,13,0x00000000
  CONTROL "",IDC_PREVIEW,"Static",0x50001200,266,25,240,13,0x00000000
  CONTROL "Header preview:",IDC_STC2,"Static",0x50000000,266,14,54,9,0x00000000
  CONTROL "Use no major outages text:",IDC_RBNOUTAGESNO,"Button",0x50010009,16,62,98,11,0x00000000
  CONTROL "",IDC_EDTNOOUTAGES,"Edit",0x50010000,116,62,324,13,0x00000200
  CONTROL "Use below list",IDC_RBNOUTAGESYES,"Button",0x50010009,16,77,94,11,0x00000000
  CONTROL " Details ",IDC_GRP2,"Button",0x50000007,6,49,504,164,0x00000000
END

IDD_NOACCESS DIALOGEX 6,6,371,100
CAPTION "Access Denied"
FONT 8,"MS Sans Serif"
STYLE 0x10CD0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "4999",IDC_IMG1,"Static",0x5000020E,12,3,100,85,0x00000000
  CONTROL "\nSORRY!!!  You do not have sufficient priviledges to update TickerTape messages.\n\n If you think you should please contact the TickerTape administrator",IDC_STC3,"Static",0x50001000,134,16,222,59,0x00000000
  CONTROL "&OK",IDC_OK,"Button",0x50010000,308,83,48,13,0x00000000
END

IDB_NO BITMAP DISCARDABLE "no.bmp"
IDB_NO2 BITMAP DISCARDABLE "no2.bmp"

STRINGTABLE DISCARDABLE
BEGIN
  IDS_NMC "NMC UPDATES:"
  IDS_OUTAGE "No major incidents on the network"
  IDS_ONGOING "ongoing"
END

IDD_UPDATE DIALOGEX 6,6,485,124
CAPTION "Message"
FONT 8,"MS Sans Serif"
STYLE 0x10CF0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "Ongoing",IDC_RBNONGOING,"Button",0x50010009,36,20,80,9,0x00000000
  CONTROL "Restored",IDC_RBNRESTORED,"Button",0x50010009,146,20,82,9,0x00000000
  CONTROL "Start time:",IDC_STC1,"Static",0x50000202,8,51,34,9,0x00000000
  CONTROL "",IDC_EDTSTART,"Edit",0x50010000,48,49,68,13,0x00000200
  CONTROL "Restored time:",IDC_STC2,"Static",0x50000202,122,51,46,9,0x00000000
  CONTROL "",IDC_EDTRESTORED,"Edit",0x50010000,174,49,68,13,0x00000200
  CONTROL "ETA:",IDC_STC3,"Static",0x50000202,8,70,36,9,0x00000000
  CONTROL "",IDC_EDTETA,"Edit",0x50010000,48,68,68,13,0x00000200
  CONTROL "",IDC_CHKETA,"Button",0x50010003,12,70,10,9,0x00000000
  CONTROL "ETR:",IDC_STC4,"Static",0x50000202,136,70,36,11,0x00000000
  CONTROL "",IDC_CHKETR,"Button",0x50010003,138,70,12,11,0x00000000
  CONTROL "",IDC_EDTETR,"Edit",0x50010000,174,68,68,13,0x00000200
  CONTROL " Fault starus ",IDC_GRP1,"Button",0x50000007,10,3,236,39,0x00000000
  CONTROL "",IDC_EDTUPDATE,"Edit",0x50010080,53,103,419,13,0x00000200
  CONTROL "TT:",IDC_STC5,"Static",0x50000000,6,92,46,8,0x00000000
  CONTROL "",IDC_EDTTT,"Edit",0x50012000,6,103,40,13,0x00000200
  CONTROL "Description:",IDC_STC5,"Static",0x50000000,53,92,46,8,0x00000000
  CONTROL "&OK",IDC_BTNOK,"Button",0x50010001,410,11,55,13,0x00000000
  CONTROL "&Cancel",IDC_BTNCANCEL,"Button",0x50010000,410,29,55,13,0x00000000
END


